@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welkom bij MyMed!</h1>
    <p>Ons doel is uw medicijn inname zo gemakkelijk mogelijk te maken</a>.</p>
</div>
